<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 引入本扩展模块即意味着使用相机扫码，故由模块自身声明相机权限/特性，merge 到接入方 app -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

</manifest>
